@model SchedularApp.Models.Course

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Course</h4>
<hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" ></div>
            <div>
                <label asp-for="CourseID" ></label>
                <input asp-for="CourseID" />
                <span asp-validation-for="CourseID" ></span>
            </div>
            <div>
                <label asp-for="Title" ></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title" ></span>
            </div>
            <div>
                <label asp-for="Credits" ></label>
                <input asp-for="Credits" />
                <span asp-validation-for="Credits" ></span>
            </div>
            <div>
                    <label asp-for="Department" ></label>
                    <select asp-for="DepartmentID" asp-items="ViewBag.DepartmentID">
                        <option value="">-- Select Department --</option>
                    </select>
                    <span asp-validation-for="DepartmentID" />
                </div>
            
            <div>
                <input type="submit" value="Create" />
            </div>
        </form>
   

<div>
    <a asp-action="Index">Back to Course List</a>
</div>

