@model SchedularApp.Models.Instructor

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Instructor</h4>
<hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" ></div>
            <div class="form-group">
                <label asp-for="LastName" ></label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName" ></span>
            </div>
            <div>
                <label asp-for="FirstName" ></label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" ></span>
            </div>
            <div>
                <label asp-for="HireDate" ></label>
                <input asp-for="HireDate" />
                <span asp-validation-for="HireDate" ></span>
            </div>

<div>
    <div>
        <table>
            <tr>
                @{
                    int cnt = 0;
                    List<SchedularApp.Models.SchoolViewModels.AssignedCourseData> courses = ViewBag.Courses;

                    foreach (var course in courses)
                    {
                        if (cnt++ % 3 == 0)
                        {
                            @:</tr><tr>
                        }
                        @:<td>
                            <input type="checkbox"
                                   name="selectedCourses"
                                   value="@course.CourseID"
                                   @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                                   @course.CourseID @:  @course.Title
                            @:</td>
                    }
                    @:</tr>
                }
        </table>
    </div>
</div>
            <div>
                <input type="submit" value="Create" />
            </div>
        </form>

<div>
    <a asp-action="Index">Back to Instructor List</a>
</div>

